    <!-- footer.ejs -->
    <footer>
        <% if (user) { %>
            <a href="/chat/<%= user.id %>" id="chatWindowLink">Chat</a>
        <% } %>
    </footer>

    <link rel='stylesheet' href='/stylesheets/index.css' /> <!-- Ajoutez le lien vers index.css -->