<!DOCTYPE html>
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/index.css' />
</head>
<body>
<% include header.ejs %>

<h1><%= title %></h1>
<p>Bienvenue à <%= title %></p>

<% include footer.ejs %>
</body>
</html>
