<% include ../../partials/header.ejs %>
<title>Cours</title>
<h1>Html, css et javascript</h1>
<p>Le cours sur ses trois langage commence: <a href="/cours_html_intro">ici</a></p>

<% include ../../partials/footer.ejs %>