<% include ../../../../partials/header.ejs %>
<title>Introduction HTML</title>
<h1>Introduction au langage : HTML, CSS, Javascript</h1>

<p>Bienvenue dans cette introduction aux langages fondamentaux du développement web : HTML, CSS et JavaScript.</p>

<h2>HTML (HyperText Markup Language)</h2>
<p>HTML est le langage de balisage standard utilisé pour créer et structurer le contenu des pages web. Il a été créé par Tim Berners-Lee au début des années 1990. HTML utilise des balises pour définir des éléments tels que des titres, des paragraphes, des liens et des images.</p>

<h2>CSS (Cascading Style Sheets)</h2>
<p>CSS est un langage de feuille de style utilisé pour styliser et mettre en forme les éléments HTML. Il a été conçu par Håkon Wium Lie et Bert Bos au cours des années 1990. CSS permet de contrôler la présentation, la mise en page et l'apparence visuelle d'une page web.</p>

<h2>JavaScript</h2>
<p>JavaScript est un langage de programmation côté client qui permet d'ajouter des fonctionnalités interactives aux pages web. Il a été créé par Brendan Eich en 1995. JavaScript est souvent utilisé pour la validation des formulaires, la manipulation du DOM (Document Object Model) et la création d'effets dynamiques sur les pages web.</p>

<h2>À quoi servent-ils ?</h2>
<p>Ensemble, HTML, CSS et JavaScript forment les bases du développement web moderne :</p>
<ul>
    <li><strong>HTML</strong> structure le contenu de la page.</li>
    <li><strong>CSS</strong> stylise et formate ce contenu pour le rendre attrayant et lisible.</li>
    <li><strong>JavaScript</strong> ajoute des fonctionnalités interactives et dynamiques à l'expérience utilisateur.</li>
</ul>

<h2>Comprendre les Fondamentaux du Web</h2>
<p>Pour naviguer sur le web, il est important de comprendre deux termes clés : URI et URL.</p>

<h3>URI (Uniform Resource Identifier)</h3>
<p>Une URI est une chaîne de caractères qui identifie une ressource. Cela peut être une page web, une image, un document, etc. Une URI peut être de deux types : URL et URN (Uniform Resource Name).</p>


<h3>URN (Uniform Resource Name)</h3>
<p>Une URN est une chaîne de caractères qui identifie de manière unique une ressource. Contrairement à une URL, une URN ne spécifie pas comment accéder à la ressource, mais elle fournit un identifiant permanent et indépendant de sa localisation sur Internet. Les URN sont conçues pour être persistantes, offrant une stabilité dans le temps.</p>

<h3>URL (Uniform Resource Locator)</h3>
<p>Une URL est une forme spécifique d'URI qui indique comment accéder à une ressource sur Internet. Elle comprend souvent le protocole (comme "http" ou "https"), le nom de domaine (par exemple, "example.com") et le chemin vers la ressource.</p>

<h3>www dans les URL</h3>
<p>Le "www" dans une URL signifie "World Wide Web". Historiquement, il a été utilisé pour distinguer les sites web des autres types de services en ligne. De nos jours, l'utilisation du "www" est souvent facultative, mais c'est une convention courante dans de nombreuses adresses web.</p>

<p>Comprendre ces concepts fondamentaux facilitera votre navigation sur le web et votre compréhension de l'architecture sous-jacente.</p>

<p>Que vous soyez débutant ou expérimenté, cette introduction vous aidera à comprendre les principes fondamentaux de ces langages essentiels pour la création de sites web.</p>

<a href="/cours_html_base">><p>Vous pouvez maintenant passer à la leçon suivante pour en savoir plus sur HTML.</p>
<% include ../../../../partials/footer.ejs %>
